/* <<<<<<< HEAD
.KLAB {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.Hamid:hover {
  transform: rotateY(180deg);
} */
/* ======= */

/* 
 */
